<div class="usershow_box">

<div class="usershow">
<h2 class="mainarea-title">Profile</h2>

<%= @user.username %>
<%= @user.nationality %>
<%= @user.profile %>
<%= link_to "Edit",edit_user_path(current_user) %>

</div>
</div>