a {  
  font:black;
  text-decoration: none;
}


.wrapper{
  padding-bottom: 700px;
  width: 100vw;
  background-color: rgba(21, 81, 172, 0.877);
}

.header{
  height: 60px;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
}


.app-name{
  font-weight: bold;
  font-size: 40px;
  font: black;
  margin-left: 20px;
}
.app-name-link{
 
}

.user-name{
  display: flex;
  align-items: center;
}

.name{
  font-size:20px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.menu-bar{
 height: 40px;
 width: 100vw;
 position: fixed;
 z-index: 1;
 top:60px;
 display: flex;
 align-items: center;
}

.learning{
  width: 33.3333333%;
  background-color: #253141;
  display: flex;
  border: solid 1px black;
  align-items: center;
}


.communication{
  width: 33.3333333%;
  background-color: #253141;
  border: solid 1px black;
  display: flex;
  align-items: center;
}
.articles{
  width: 33.3333333%;
  background-color: #253141;
  border: solid 1px black;
  display: flex;
  align-items: center;
}

.menu-title{
  color:white;
  font-weight: bold;
  margin-left: 10px;
  
}


/* メインエリア */
.main-area{
  
  width:100vw;
  margin: 0 auto; 
  
  align-items: center;
  padding-top: 20px;
  
}
.mainarea-title{
  
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 30px auto;
  text-decoration: underline;
}

/* new */
.register-box{
  width: 100vw;
  margin: 100px auto 0;
}
.form-container{
  width: 100vw;
  align-items: center;
  margin: 0 auto;
}
.form-wrap{
  
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.message-form{
  width: 30%;
  
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.message-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: bold;
}

/* search */
.search-box{
  width: 80vw;
  margin: 100px auto 0;

}

.search-form{
  text-align: center;
}
.search-result{
  margin-top: 20px;
  text-align: center;
}
.checkbox-area{
  text-align: center;
  margin-top: 30px;
}

th{
  background-color:  #253141;
  color: white;
  border: solid 1px black;
}

td{
  background-color: rgb(188, 214, 211);
  border: solid 1px black;
}

/* progress */
.progress-box{
  width: 80vw;
  margin: 100px auto 0;
}

.progress-title{
  
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 30px auto 60px;
  text-decoration: underline;
}


.chart-title{
  font-weight: bold;
  text-align: center;
}

.total{
  font-weight: bold;
  text-align: center;
  margin:0 auto;
  
}
.num{
  font-weight: bold;
  font-size: 25px;
}